html, body {
  font-size: initial;
}

.LifeTimeline {
  display: block;
  background: #313431;
}
.LifeTimeline > .week {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 2px;
  padding: 0;
  opacity: 0.5;
  background: #555;
  transition: .4s linear opacity;
  position: relative;
}
.LifeTimeline > .week.future {
  opacity: 0.2;
}
.LifeTimeline > .week > .singleEvents {
  left: 4px;
  top: 4px;
  border-radius: 3.5px;
  width: 7px;
  height: 7px;
  background: #303030;
  position: absolute;
}
.LifeTimeline > .week:hover {
  opacity: 1.0;
}

.ui.segment.pushable {
  margin: 0;
  border-radius: 0;
  border:none;
}

.ui.thin.right.sidebar {
  width: 180px;
}

.ui.small.header {
  margin: 12px 0;
}

.ui.divided.list > .item {
  padding-left: 5px;
}
